<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.smhrd.model.MemberSeniorDAO">

	<!-- 노인 전체 정보 조회(추후 수정, 기능 확인용 기능) -->
	<select id="memberseniorlist" resultType="MemberSeniorVO">
		select * from member_senior
	</select>
	
	<!-- 응급 호출 메일에 필요 : 멤버 아이디보기 -->
	<select id="memberidselect" resultType="String">
		select member_id from
		member_senior where senior_num = #{senior_num}
	</select>

	
</mapper>